* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCFCFC;
    color: #333333;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    width: 100%;
    height: 100vh;
    padding: 16px;
    max-width: 800px;
}

canvas {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .8);
}


main section {
    width: 100%;
    padding: 16px;
}

#controls-section {
    padding: 0px 12px;
}

.controls {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 100%;
    padding: 8px 0px;
    display: flex;
    flex-flow: row wrap;
}

input {
    width: 100%;
    min-height: 16px;
    padding: 8px;
    margin: 8px 4px 0px;
    border-radius: 5px;
    border: 2px solid #CDCDCD;
    background-color: white;
}

label {
    color: #000;
    font-weight: bold;
    margin: 0px 4px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#color-input {
    border: 1px solid #CDCDCD;
    padding: 8px;
    height: 40px;
}

#adicionar-triangulo-btn {
    width: 100%;
    padding: 12px;
    margin: 8px 4px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: darkmagenta;
}


@media all and (min-width: 768px) {

    form {
        flex-flow: row wrap;
    }

    input {
        max-width: 64px;
    }

}